* {
	margin: 0;
	padding: 0;
}
$Alabaster: #f8f8f8;

$Alto: #d2d2d2;
$Pomegranate: #ee3333;
$WebOrange : #ffa900;
$Cerulean :#00a3d8;
$Lima :#43c423;

body {
	background-color: $Alabaster;
}

#header {
	width: 100%;
	height: 130px;

		#stripe {
			width: 100%;
			height: 10px;
			.stripe_all {
				width: 20%;
				float: left;
				height: inherit;
			}

			#stripe_1 {
				background-color: $Alto;
			}
			#stripe_2 {
				background-color: $Pomegranate;
			}
			#stripe_3 {
				background-color: $WebOrange;
			}
			#stripe_4 {
				background-color: $Cerulean;
			}
			#stripe_5 {
				background-color: $Lima;
			}
		}

	#logo {
		height: 120px;
		text-align: center;
		img {
			margin-top: 15px;
		}
		p {
			text-transform: uppercase;
		}
	}
}

#menu-bar {
	text-align: center;
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	display: table;
	#m2 {
		display: table-cell;
		vertical-align: middle;
	}
		ul {

			li {
				margin-right: 20px;
				display: inline;
				text-transform: uppercase;

			}
		}
}