#bemutatkozas {
	font-weight: 300;
	margin: 13.5em auto 0;
	min-height: 100%;

	.text {
		font-weight: 400;
		line-height: 1.8em;
		margin: 0 auto;
		padding: 1em 0;
		width: 1000px;
	}

	img {
		width: 100%;
	}
}