$mobile: 30em;
$mobile-: $mobile - .01em;
$tablet: 48em;
$tablet-: $tablet - .01em;
$big-tablet: 50em;
$big-tablet-: $big-tablet - .01em;
$monitor: 64em;
$monitor-: $monitor - .01em;
$widescreen: 80em;
$widescreen-: $widescreen - .01em;
$mwidescreen: 89em;
$mwidescreen-: $mwidescreen - .01em;
$wwidescreen: 100em;
$wwidescreen-: $wwidescreen - .01em;
$xwidescreen: 120em;
$xwidescreen-: $xwidescreen - .01em;
