$alabaster: #f8f8f8;


$nobel: #b6b6b6;
$alto: #d2d2d2;

$black: #000;
$gorse: #fff857;
$silver: #c2c2c2;
$white: #fff;


$pomegranate: #e33;
$thunderbird: #bc1e1e;
$thunderbird2: #d21a1a;
$tamarillo: #811111;

$pizazz: #ff9000;
$chileanfire: #fa7103;
$clementine: #e16500;
$roseofsharon: #bf5500;

$cerulean: #00a3d8;
$bluechill: #0c85ac;
$atoll: #0a7395;
$atoll2: #0a6887;
$elm: #1f778f;

$lima: #43c423;
$lapalma: #2e9b13;
$lapalma2: #2c9d0f;

$deepcerulean: #007ea6;
$bondiblue: #008cb9;

$orient: #005b79;
$regalblue: #00536e;
