#stripe {
	width: 100%;
	height: 0.625em;
	position: fixed;
	top: 0;
	z-index: 100;
	.stripe_all {
		width: 20%;
		float: left;
		height: inherit;
	}
	#stripe_1 {
		background-color: $Alto;
	}
	#stripe_2 {
		background-color: $Pomegranate;
	}
	#stripe_3 {
		background-color: $WebOrange;
	}
	#stripe_4 {
		background-color: $Cerulean;
	}
	#stripe_5 {
		background-color: $Lima;
	}
}

$height-speed: height 0.5s;
$width-speed: width 0.5s;
$all-speed: all 0.5s;

nav{
	height: 7.5em;
	width: 100%;
	background-color: $Alabaster;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 100;
	-webkit-transition: $height-speed;
    -moz-transition: $height-speed;
    -o-transition: $height-speed;
    transition: $height-speed;

	#logo {
		background-color: $Alabaster;
		#logo_pic {
			position: relative;
			-webkit-transition: $width-speed;
		    -moz-transition: $width-speed;
		    -o-transition: $width-speed;
		    transition: $width-speed;
			img {
				height: 4.1875em;
				margin-top: 1.5em;
			}
		}
		#logo_text {
			height: 2em;
			font-weight: 600;
			margin-bottom: 1em;
			padding-top: 0.5em;
			-webkit-transition: $all-speed;
		    -moz-transition: $all-speed;
		    -o-transition: $all-speed;
		    transition: $all-speed;
		}
	}

	#menu_wrap {
		width: 100%;
		background-color: $White;
		#menu {
			width: 800px;
			margin: 0 auto;
			display: table;
			li {
				-webkit-transition: $all-speed;
		    	-moz-transition: $all-speed;
		    	-o-transition: $all-speed;
		    	transition: $all-speed;
		    	margin-top: 1em;
		    	padding: 1em 0;
		    	display: table-cell;
			}
		}
	}
}


nav.shrink {
	clear: both;
    height: 3.125em;
	background-color: $White;
	-webkit-transition: $height-speed;
    -moz-transition: $height-speed;
    -o-transition: $height-speed;
    transition: $height-speed;
    
    #logo {
    	width: 20%;
    	height: 3.125em;
    	float: left;
		background-color: $White;
		#logo_pic {
			display: table-cell;
			-webkit-transition: $width-speed;
		    -moz-transition: $width-speed;
		    -o-transition: $width-speed;
		    transition: $width-speed;
			img {
				height: 2.75em;
				margin: .1875em 1em;
			}
		}
		#logo_text {
			display: table-cell;
			vertical-align: middle;
			padding: 0;
			margin: 0;
			font-weight: 600;
			font-size: 1em;
		}
	}

	#menu_wrap {
		width: 80%;
		float: right;
		height: 3.125em;
		li {
			-webkit-transition: $all-speed;
	    	-moz-transition: $all-speed;
	    	-o-transition: $all-speed;
	    	transition: $all-speed;
	    }
	}
}