.stripe {
  height: .3125em;
  width: 100%;
  z-index: 100;

  .stripe_all {
    float: left;
    height: inherit;
    width: 20%;
  }

  .stripe_1 {
    background-color: $alto;
  }

  .stripe_2 {
    background-color: $pomegranate;
  }

  .stripe_3 {
    background-color: $pizazz;
  }

  .stripe_4 {
    background-color: $cerulean;
  }

  .stripe_5 {
    background-color: $lima;
  }
}

#main_nav {
  background-color: $alabaster;
  font-size: 1em;
  height: 12.875em;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 100;

  .logo {
    background-color: $alabaster;

    .logo-pic {
      position: relative;
    }

    .logo-text {
      height: 2em;
      padding-bottom: 1em;
      padding-top: .5em;
      position: relative;
    }
  }

  .menu-wrap {
    background-color: $white;
    font-weight: 300;
    width: 100%;
    z-index: 1;

    .menu {
      display: table;
      margin: 0 auto;
      width: 800px;
    }
  }

  .menu li {
    display: table-cell;
    margin-top: 1em;
    padding: 1em 0;
    z-index: 1001;
  }

  .menu .sandwich {
    display: none;
  }
}
