$height: 100%;

#kapcsolat {
	width: 66.66%;
	min-height: $height;
	height: 659px;
	float: left;
	color: $White;
	background-color: $Lima;
}

p {
	font-size: 1.125em;
	line-height: 1.6em;
	.bold {
		font-weight: 600;
	}
	.bold:nth-child(3) {
		padding-left: 1em;
	}
}

p:first-child {
	padding: 90px 0 20px 0;
	font-size: 2em;
}

p.big-bold, p.name {
	font-size: 1.5625em;
}

	p:first-child, p.big-bold, p.name {
		font-weight: 600;
	}

#logo {
	width: 40px;
	padding-bottom: 20px;
}

.upp {
	text-transform: uppercase;
}

#map {
	background-color: $Alabaster;
	height: 659px;
	width: 33.33%;
	float: right;
	iframe {
		width: 100%;
		height: 100%;
	}
}