$height: 100%;

#five-kapcs {
		background-color: $lima;
		color: $white;
		float: left;
		width: 66.66%;
}

.name {
		font-size: 1.5625em;
}

#map {
		background-color: $alabaster;
		float: right;
		height: 659px;
		width: 33.33%;

		iframe {
			width: 100%;
			height: 100%;
		}
}