$height: 100%;

#kapcsolat {
	width: 66.66%;
	height: $height;
	/*height: calc(100% - 60px);*/
	float: left;
	color: $White;
	p:first-child {
		padding: 90px 0 20px 0;
		text-transform: uppercase;
		font-size: 1.875em;
	}

	#logo {
		width: 40px;
		padding-bottom: 20px;
	}

	p:first-child, p:nth-child(3) {
		font-weight: 600;
	}
	p:nth-child(3) {
		font-size: 1.5625em;
	}

	/*p:nth-child(4) {
		padding-bottom: 2em;
	}*/

	p {
		font-size: 1.125em;
		line-height: 1.6em;
		.bold {
			font-weight: 600;
		}
		.bold:nth-child(3) {
			padding-left: 1em;
		}
	}
}

#map {
	background-color: $Alabaster;
	width: 33.33%;
	height: $height;
	float: right;
	iframe {
		width: 100%;
		height: $height;
	}
}