$mobile: 30em;
$mobile-: $mobile - .01em;
$tablet: 48em;
$tablet-: $tablet - .01em;
$monitor: 64em;
$monitor-: $monitor - .01em;
$widescreen: 80em;
$widescreen-: $widescreen - .01em;
$mwidescreen: 89em;
$mwidescreen-: $mwidescreen - .01em;
$wwidescreen: 100em;
$wwidescreen-: $wwidescreen - .01em;
$xwidescreen: 120em;
$xwidescreen-: $xwidescreen - .01em;

@media only screen and (min-width: $xwidescreen) {

  .text {
    font-size: 2.2em !important;
    line-height: 1.8em;
    margin: .5em auto 2em;
    max-width: 1710px;
    padding: 0;
    width: 95%;
  }

  .title {
    font-size: 4em;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .menu-icon {
    margin: 3.5em auto;
    padding-bottom: 0;
  }

  #tuzvedelem {

    #extinguish {
      height: 130px;
    }
  }

  #munkavedelem {

    #helmet {
      height: 130px;
    }
  }

  #ref-icon {
    height: 130px;
  }

  #kapcsolat {

    .text {
      margin: .5em auto 0;
    }

    #profile_pic {

      img {
        border: 13px solid $white;
        height: 230px !important;
        margin-bottom: 1.6em;
        width: 230px !important;
      }
    }

    #left,
    #right {
      margin-top: 3em;

      p:nth-child(3) {
        font-size: 1.9em;
        font-weight: 300;
      }
    }

    .name {
      font-size: 2.5em;
    }
  }
}

@media only screen and (min-width: $wwidescreen) and (max-width: $xwidescreen-) {

  .text {
    font-size: 2em !important;
    line-height: 1.7em;
    margin: .5em auto 2em;
    max-width: 1400px;
    padding: 0;
    width: 95%;
  }

  .title {
    font-size: 2.6em;
    margin-bottom: .5em;
    padding-bottom: 1em;
  }

  .menu-icon {
    margin: 2em auto;
    padding-bottom: 0;
  }

  #ref-icon {
    height: 75px;
  }

  #kapcsolat {

    .text {
      margin: .5em auto 0;
    }

    #profile_pic {

      img {
        border: 10px solid $white;
        height: 170px !important;
        margin-bottom: 1.4em;
        width: 170px !important;
      }
    }

    #left,
    #right {
      margin-top: 3em;

      p:nth-child(3) {
        font-size: 1.7em;
        font-weight: 300;
      }
    }

    .name {
      font-size: 2.3em;
    }
  }

}

@media only screen and (min-width: $mwidescreen) and (max-width: $wwidescreen-) {

  .text {
    font-size: 1.625em !important;
    line-height: 1.7em;
    margin: .5em auto 2em;
    max-width: 1200px;
    padding: 0;
    width: 95%;
  }

  .title {
    font-size: 2.5em;
    margin-bottom: .5em;
    padding-bottom: 1em;
  }

  .menu-icon {
    margin: 2em auto;
    padding-bottom: 0;
  }

  #ref-icon {
    height: 70px;
  }

  #kapcsolat {

    .text {
      margin: .5em auto 0;
    }

    #profile_pic {

      img {
        border: 10px solid $white;
        height: 170px !important;
        margin-bottom: 1.3em;
        width: 170px !important;
      }
    }

    #left,
    #right {
      margin-top: 3em;

      p:nth-child(3) {
        font-size: 1.7em;
        font-weight: 300;
      }
    }

    .name {
      font-size: 2.2em;
    }
  }
}


@media only screen and (min-width: $widescreen) and (max-width: $mwidescreen-) {

  #stripe {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  #menu_wrap {
    position: fixed;
    top: 10px;
  }

  #logo {

    #logo_pic img {
      height: 80px;
      position: relative;
      top: 80px;
    }

    #logo_text {
      top: 80px;
    }
  }

  .text {
    font-size: 1.7em !important;
    line-height: 1.65em;
    margin: .5em auto 0;
    max-width: 1100px;
    width: 95%;
  }

  .title {
    font-size: 2.3em;
    padding-bottom: 0;
  }

  #ref-icon {
    height: 60px;
  }

  #screw,
  #certificate {
    margin-top: -1em;
  }

  .menu-icon {
    margin: 1em auto .5em;
  }

  li {
    line-height: 1.8em !important;
  }

  #tuzvedelem {

    #extinguish {
      height: 60px;
    }
  }

  .number {

    img {
      margin: 3em 0 -1.5em;
    }
  }

  #munkavedelem {

    #helmet {
      height: 60px;
    } 
  }

  #kapcsolat {

    #five-kapcs {

      div:nth-child(3) {
        margin-top: 3em;
      }
    }

    .text {
      line-height: 1.3em;
      margin: .5em auto 0;
    }

    #profile_pic {

      img {
        border: 8px solid $white;
        height: 135px !important;
        margin-bottom: .8em;
        width: 135px !important;
      }
    }

    #left,
    #right {
      margin: 2em 0 5em !important;

      p:nth-child(3) {
        font-size: 1.4em;
        font-weight: 300;
      }
    }

    #map {
      height: 900px;
    }

    .name {
      font-size: 1.8em;
    }
  }
}

@media only screen and (min-width: $monitor) and (max-width: $widescreen-) {

  #stripe {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  #menu_wrap {
    position: fixed;
    top: 10px;
  }

  #logo {

    #logo_pic img {
      height: 80px;
      position: relative;
      top: 80px;
    }

    #logo_text {
      top: 80px;
    }
  }

  .text {
    font-size: 1.6em !important;
    line-height: 1.6em;
    margin: .5em auto 0;
    max-width: 900px;
    width: 95%;
  }

  .title {
    font-size: 2.1em;
    padding-bottom: 0;
  }

  #ref-icon {
    height: 60px;
  }

  #screw,
  #certificate {
    margin-top: -1em;
  }

  .menu-icon {
    margin: 1em auto .5em;
  }

  li {
    line-height: 1.8em !important;
  }

  #tuzvedelem {

    #extinguish {
      height: 60px;
    }
  }

  .number {

    img {
      margin: 3em 0 -1.5em;
    }
  }

  #munkavedelem {

    #helmet {
      height: 60px;
    } 
  }

  #kapcsolat {

    #five-kapcs {

      div:nth-child(3) {
        margin-top: 3em;
      }
    }

    .text {
      line-height: 1.3em;
      margin: .5em auto 0;
    }

    #profile_pic {

      img {
        border: 5px solid $white;
        height: 110px !important;
        margin-bottom: 1.2em;
        width: 110px !important;
      }
    }

    #left,
    #right {
      margin: 2em 0 5em !important;

      p:nth-child(3) {
        font-size: 1.3em;
        font-weight: 300;
      }
    }

    #map {
      height: 900px;
    }

    .name {
      font-size: 1.6em;
      margin-bottom: .2em;
    }
  }
}


@media only screen and (min-width: $tablet) and (max-width: $monitor-) and (orientation: landscape) {

  #stripe {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  #menu_wrap {
    position: fixed;
    top: 10px;
  }

  .text {
    font-size: 1.1em!important;
    line-height: 1.65em;
    margin: .5em auto 0;
    max-width: 700px;
    width: 95%;
  }

  .title {
    font-size: 1.4em;
    margin-top: -.5em;
    padding-bottom: 0;
  }

  #logo {

    #logo_pic img {
      height: 50px;
      position: relative;
      top: 80px;
    }

    #logo_text {
      top: 80px;
    }
  }

  .menu-icon {
    margin: 1.5em auto;
    padding: 4em 0 0;
  }

  #tuzvedelem {

    .number img {
      height: 60px;
      margin: 2em 0 -.5em;
    }

    #extinguish {
      height: 50px;
    }
  }

  #munkavedelem {

    #helmet {
      height: 50px;
    }
  }

  #ref-icon {
    height: 50px;
  }

  li {
    line-height: 1.8em !important;
  }

  #five-kapcs {
    height: initial;
    width: 60%;
  }

  #kapcsolat {

    .text {
      margin: .5em auto 0;
    }
  }

  #profile_pic {

    img {
      border: 2px solid $white;
      @include border-radius(50%);
      height: 70px !important;
      width: 70px !important;
    }

    #left,
    #right {
      margin: 2em 0;
      width: 50%;

      p:nth-child(3) {
        font-weight: 300;
      }

      .name {
        font-size: 1em;
      }
    }
  }

  #map {
    background-color: $alabaster;
    min-height: 300px;
    width: 40%;

    iframe {
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (min-width: $mobile) and (max-width: $tablet-) {

  #bemutatkozas {

    #one #icon {
      padding: 0 0 1.5em;
    }
  }

  #tuzvedelem {

    #two-tuz {

      #law {
        display: none;
      }
    }

    .number {

      img {
        height: 50px;
      }
    }
  }

  #munkavedelem {

    color: $black;

    #helmet {
      height: 60px;
    }

    #certificate,
    #screw {
      margin-bottom: 1.5em;
    }
  }

  #kapcsolat {

    .text {
      margin-bottom: .5em;
    }
  }

  .text {
    font-size: 1.15em;
    line-height: 1.6em;
    margin-bottom: 2em;
    padding: 0;
    width: 90%;
  }

  h1 {
    padding-bottom: 1em;
  }

  .list {
    list-style-position: inside;
    list-style-type: square;

    li .square {
      display: none;
    }
  }

  li.last {
    margin-bottom: -2em;
  }

  #five-kapcs {
    width: 100%;

    #profile_pic {

      img {
        border: 5px solid $white;
        @include border-radius(50%);
        height: 100px;
        width: 100px;
      }

      #left,
      #right {
        margin: 2em 0;
        width: 100%;
      }
    }
  }

  #map {
    background-color: $alabaster;
    height: 200px;
    width: 100%;

    iframe {
      height: 100%;
      width: 100%;
    }
  }

//  footer {
//    font-size: .7em;
//    height: 40px;
//  }
}



@media only screen and (max-width: $mobile-) {

  #stripe {
    height: 10px;
    position: fixed;
    top: 0;
  }

  #menu_wrap {
    position: fixed;
    top: 10px;

    #menu {
      visibility: hidden;
    }
  }

  #logo {
    padding-bottom: 10px;
  }

  #logo_pic img {
    height: 35px;
    left: 10px;
    position: fixed;
    top: 0;
    z-index: 5;
  }

  nav {
    height: 4.5em;

    #logo {
      
      #logo_text {
        left: 50px;
        position: fixed;
        top: 20px; 
        z-index: 5;
      }
    }
  }

  #sandwich {
    display: block;
    position: fixed;
    right: 20px;
    top: 0;
    visibility: visible;
  }

  #icon img {
    height: 70px;
    margin-top: -1em;
  }

  .text {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0;
    width: 95%!important;
  }

  .title {
    font-size: 1.5em;
  }

  #tuzvedelem {

    #extinguish {
      height: 50px;
    }
  }

  #munkavedelem {

    #certificate,
    #helmet,
    #screw {
      height: 50px;
    }

    #certificate,
    #screw {
      margin-bottom: 1em;
    }
  }

  #ref-icon {
    height: 50px;
  }


  .circle, 
  #law {
    height: 50px!important;
    margin-top: .8em;
  }

  #law {
    margin: 1em 0 2em;
  }

  .list {

    li {
      .square:nth-child(even) {
        display: none;
      }
    }
  }


  #kapcsolat {

    height: initial;
    width: 100%;

    .text {
      line-height: .7em;
      text-align: center;
    }

    #five-kapcs {
      text-align: center;
      width: 100%;
    }

    #contact {
      height: 50px;
    }

    #profile_pic {

      img {
        border: 3px solid $white;
        @include border-radius(50%);
        height: 70px;
        width: 70px;
      }

      #left,
      #right {
        margin: 1em 0;
        width: 100%;
      }
    }
  }

  .name {
    font-size: 1.2em;
    margin: .3em 0;
  }

  #map {
    background-color: $alabaster;
    height: 150px;
    width: 100%;

    iframe {
      height: 100%;
      width: 100%;
    }
  }
  
//  footer {
//    font-size: .7em;
//    height: 30px;
//  }
}
