@charset 'UTF-8';
@import 'compass/css3';
@import 'compass/css3/border-radius';
@import 'compass/css3/inline-block';

html {
  height: 100%;
}

@import 'compass/reset';

* {
  margin: 0;
  padding: 0;
}

a,
img {
  border: 0;
  outline: none;
}

$alabaster: #f8f8f8;
$alto: #d2d2d2;
$black: #000;
$cerulean: #00a3d8;
$gorse: #fff857;
$lima: #43c423;
$pomegranate: #e33;
$pizazz: #ff9000;
$silver: #c2c2c2;
$white: #fff;

html,
body {
  background-color: $alabaster;
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

@import '_header.scss';
@import '_text.scss';

@mixin transition($parameters) {
  -webkit-transition: $parameters;
  -moz-transition: $parameters;
  -o-transition: $parameters;
  transition: $parameters;
}

a {
  color: $black;
  @include transition(all .3s);

}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  background-color: $pomegranate;
  color: $white;
  padding: .3em 0;
  text-decoration: none;

  @include transition(all .3s);
}

#help {
  position: fixed;
  width: 100%;
  z-index: 9999;

  #arrow {
    bottom: 20px;
    margin: auto 40%;
    position: fixed;
    width: 20%;

    img {
      color: $pomegranate;
      height: 30px;
    }

    p {
      color: $pomegranate;
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: .5em;
    }
  }

  #help-nav-bg {
    height: 100%;
    position: fixed;
    right: 0;
  }
}


.mobile-menu-wrap {
  background-color: $white;
  height: 50px;
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 4;

  #menu {
    height: inherit;

    li {
      margin: 0!important;
      padding: 0!important;
    }
  }

  .menu-1 {
    display: none;
  }

  .sandwich-y {
    display: none;
  }

  .sandwich-x {
    display: block;
  }
}


.on {
  display: block;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10;

  span {
    color: $white;
    font-weight: 600;
  }

  ul {
    clear: both;
    height: 100%;
  }

  .menu-1 {
    display: block;
  }

  a:first-child:hover {
    background-color: $alto;
    @include transition(all 0s);
  }

  a:first-child {
    height: 26px;
    position: fixed;
    right: 15px;
    top: 25px;
    width: 32px;

    #sandwich {
      right: inherit;
      top: inherit;
    }

    .sandwich-y {
      display: block;
    }    

    .sandwich-x {
      display: none;
    }
  }

  a:nth-of-type(2) {
    $from: #b6b6b6;
    $to: $alto;
    background-color: $alto;
    background-image: -o-linear-gradient(left , $from 0%, $to 100%);
    background-image: -moz-linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-linear-gradient(left , $from 0%, $to 100%);
    background-image: -ms-linear-gradient(left , $from 0%, $to 100%);
    background-image: linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-gradient(
       linear,
        left top,
        right top,
        color-stop(0, $from),
        color-stop(1, $to)
    );
    height: 20%;
    width: 100%;
  }

  a:nth-of-type(3) {
    $from: #d21a1a;
    $to: $pomegranate;
    background-color: $pomegranate;
    background-image: -o-linear-gradient(left , $from 0%, $to 100%);
    background-image: -moz-linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-linear-gradient(left , $from 0%, $to 100%);
    background-image: -ms-linear-gradient(left , $from 0%, $to 100%);
    background-image: linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-gradient(
       linear,
        left top,
        right top,
        color-stop(0, $from),
        color-stop(1, $to)
    );
  }

  a:nth-of-type(4) {
    $from: $pizazz;
    $to: #fa7103;
    background-color: $pizazz;
    background-image: -o-linear-gradient(left , $from 0%, $to 100%);
    background-image: -moz-linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-linear-gradient(left , $from 0%, $to 100%);
    background-image: -ms-linear-gradient(left , $from 0%, $to 100%);
    background-image: linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-gradient(
       linear,
        left top,
        right top,
        color-stop(0, $from),
        color-stop(1, $to)
    );
  }

  a:nth-of-type(5) {
    $from: #0c85ac;
    $to: $cerulean;
    background-color: $cerulean;
    background-image: -o-linear-gradient(left , $from 0%, $to 100%);
    background-image: -moz-linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-linear-gradient(left , $from 0%, $to 100%);
    background-image: -ms-linear-gradient(left , $from 0%, $to 100%);
    background-image: linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-gradient(
       linear,
        left top,
        right top,
        color-stop(0, $from),
        color-stop(1, $to)
    );
  }

  a:nth-of-type(6) {
    $from: $lima;
    $to: #2c9d0f;
    background-color: $lima;
    background-image: -o-linear-gradient(left , $from 0%, $to 100%);
    background-image: -moz-linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-linear-gradient(left , $from 0%, $to 100%);
    background-image: -ms-linear-gradient(left , $from 0%, $to 100%);
    background-image: linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-gradient(
       linear,
        left top,
        right top,
        color-stop(0, $from),
        color-stop(1, $to)
    );
  }

  ul>a {
    display: table!important;
    float: left;
    height: 40%;
    margin: 0!important;
    padding: 0!important;
    width: 50%;
    z-index: 15;
  }

  li {
    display: table-cell;
    vertical-align: middle;
  }

  
}

#logo {

  img {
    height: 2.625em;
    margin-top: 1em;
  }
}

#menu,
.menu_wrap {
  z-index: 1;
}

#menu {
  margin: 0 0 0 auto;
}

.relative {
  position: relative;
  width: 100%;
}

.menu-icon {
  padding: 5em 0 1em;
}

.list {
  list-style-type: none;

  li {
    line-height: 2em;

    .square {
      background: $white;
      @include border-radius(50%);
      @include inline-block();
      height: 10px;
      margin: 0 .5em;
      vertical-align: middle;
      width: 10px;
    }
  }
}

#bemutatkozas,
#tuzvedelem,
#munkavedelem,
#referenciak,
#kapcsolat {
  height: 100%;
  padding-bottom: .0001em;
  position: relative;
  width: 100%;
}

#bemutatkozas, {
  #one {
    left: 0;
    @include opacity(1);
    position: relative;
    width: 100%;

    #icon {
      padding: 1em 0 .5em;
    }
  }
}

#tuzvedelem,
#munkavedelem,
#referenciak {
  color: $white;
}

#tuzvedelem {
  background-color: $pomegranate;

  #extinguish {
    height: 70px;
  }

  .number img {
    height: 80px;
  }
}

#munkavedelem {
  background-color: $pizazz;
  color: $black;

  .square {
    background: $black;
  }

  #helmet {
    height: 70px;
  }

  #certificate,
  #screw {
    height: 80px;
  }
}

#referenciak {
  background-color: $cerulean;
  color: $black;
}

.ref-img {
  margin-right: 1em;
}

.bl {

  li {
    display: initial;
    margin-right: 1em;
  }

  li:nth-child(even) {
    font-weight: 600;
  }
}

.b {
  color: $white;
  margin: 0 auto;
  width: 1100px;

  $from: #007ea6;
  $to: #008cb9;

  .box {
    background-color: #000;
    background-image: -o-linear-gradient(left , $from 0%, $to 100%);
    background-image: -moz-linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-linear-gradient(left , $from 0%, $to 100%);
    background-image: -ms-linear-gradient(left , $from 0%, $to 100%);
    background-image: linear-gradient(left , $from 0%, $to 100%);
    background-image: -webkit-gradient(
       linear,
        left top,
        right top,
        color-stop(0, $from),
        color-stop(1, $to)
    );
    @include box-shadow(1px 0 1px #065363);

    

    @include inline-block;
    height: 200px;
    margin: 2.57em auto 0;
    width: 30%;

    .box-logo-frame {
      display: table;
      height: 75%;
    }

    .box-logo {
      display: table;
      float: left;
      height: 55%;
      position: relative;
      top: 0%;
      width: 100%;
    }

    .box-logo-nev {
      display: table;
      float: left;
      height: 20%;
      position: relative;
      top: 0%;
      width: 100%;
    }

    .box-place,
    .box-web {
      display: table;
      float: left;
      height: 25%;
      position: relative;
    }

    .box-place {
      $darkblue: #0a7395;
      $darkblue2: #0a6887;
      background-color: #fff;
      background-image: -o-linear-gradient(left , $darkblue 0%, $darkblue2 100%);
      background-image: -moz-linear-gradient(left , $darkblue 0%, $darkblue2 100%);
      background-image: -webkit-linear-gradient(left , $darkblue 0%, $darkblue2 100%);
      background-image: -ms-linear-gradient(left , $darkblue 0%, $darkblue2 100%);
      background-image: linear-gradient(left , $darkblue 0%, $darkblue2 100%);
      background-image: -webkit-gradient(
         linear,
          left top,
          right top,
          color-stop(0, $darkblue),
          color-stop(1, $darkblue2)
      );
//      @include box-shadow(1px 0 1px #065363);
      width: 35%;
    }

    .box-text {
      display: table-cell;
      vertical-align: middle;
    }

    .box-web {
      $darkblue: #005b79;
      $darkblue2: #00536e;
      background-color: #fff;
      background-image: -o-linear-gradient(left , $darkblue 0%, $darkblue2 100%);
      background-image: -moz-linear-gradient(left , $darkblue 0%, $darkblue2 100%);
      background-image: -webkit-linear-gradient(left , $darkblue 0%, $darkblue2 100%);
      background-image: -ms-linear-gradient(left , $darkblue 0%, $darkblue2 100%);
      background-image: linear-gradient(left , $darkblue 0%, $darkblue2 100%);
      background-image: -webkit-gradient(
         linear,
          left top,
          right top,
          color-stop(0, $darkblue),
          color-stop(1, $darkblue2)
      );
//      @include box-shadow(1px 0 1px #065363);
      width: 65%;
    }
  }

  .box:nth-child(even) {
    margin-left: 2%;
    margin-right: 2%;
  }

  .box:nth-child(2) {
    background-color: $lima;

    .box-place {
      background-color: #29ac19;
    }

    .box-web {
      background-color: #1a980d;
    }
  }

  .box:nth-child(3) {
    background-color: #058bb7;

    .box-place {
      background-color: #0c7294;
    }

    .box-web {
      background-color: #025a78;
    }
  }

}

#kapcsolat {
  background-color: $lima;

  #contact {
    height: 80px;
  }

  p {
    padding: 0;
  }
}

#one {
  background-color: $alabaster;
}

@import '_kapcsolat.scss';

footer {
  background-color: $alabaster;
  color: $black;
  display: table;
  font-size: 1em;
  height: 80px;
  text-align: center;
  width: 100%;

  div {
    display: table-cell;
    vertical-align: middle;
  }
}

@import '_media.scss';
