* {
		margin: 0;
		padding: 0;
}

a, 
img {
	    border: none;
	    outline: none
}

$alabaster: #f8f8f8;
$alto: #d2d2d2;
$black: #000;
$cerulean :#00a3d8;
$lima :#43c423;
$pomegranate: #e33;
$pizazz : #ff9000;
$white: #fff;

html, 
body {
		color: $black;
		background-color: $alabaster;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
}

@import '_header.scss';
@import '_text.scss';

a {
		color: $black;
		-webkit-transition: all .3s;
	    -moz-transition: all .3s;
	    -o-transition: all .3s;
	    transition: all .3s;
}

a:link,
a:visited,
a:active {
		text-decoration:none;
} 


a:hover {
		background-color: $pomegranate;
		color: $white;
		padding: .3em 0;
		text-decoration:none;
		-webkit-transition: all .3s;
	    -moz-transition: all .3s;
	    -o-transition: all .3s;
	    transition: all .3s;
} 


#logo {
		img {
			height: 2.625em;
			margin-top: 1em;
		}
}

#menu_wrap, #menu {
		z-index: 1;
}

#menu {
		margin: 0 0 0 auto;
}

.relative {
		position: relative;
		width: 100%;
}


.menu-icon {
		padding: 5em 0 1em;
}


.list {
		list-style-type: none;

		li {
			line-height: 2em;

			.square {
				background: $white;
				border-radius: 50%;
				display: inline-block;
				height: 10px;
				margin: 0 .5em;
				vertical-align: middle;
				width: 10px;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
			}
		}
}


#slide-1,
#slide-2,
#slide-3,
#slide-4,
#slide-5 {
		height: 100%;
		position: relative;
		width: 100%;
}

#slide-1 {
		#one {
			left: 0;
			opacity: 1;
			position: relative;
			width: 100%;

			#icon {
				padding: 1em 0 .5em;
			}
		}
}

#slide-2, 
#slide-3, 
#slide-4 {
		color: $white;
}

#slide-2 {
		background-color: $pomegranate;

		#extinguish {
			height: 70px;
		}

		.number img{
			height: 80px;
		}	
}

#slide-3 {
		background-color: $pizazz;
		color: $black;

		.square {
			background: $black;
		}

		#helmet {
			height: 70px;
		}

		#certificate, 
		#screw {
			height: 80px;
		}
}

#slide-4 {
		background-color: $cerulean;
}

#slide-5 {
		background-color: $lima;

		#contact {
			height: 80px;
		}

		p {
			padding: 0;
		}
}

/*#wrap, 
#one, 
#two-tuz, 
#three-munka, 
#four-ref {
		height: 100%;
		width: 100%;
}
*/
#one {
		background-color: $alabaster;
	//	margin-top: 18em;
}



@import '_kapcsolat.scss';

footer {
		background-color: $alabaster;
		color: $black;
		display: table;
		font-size: 1em;
		height: 80px;
		text-align: center;
		width: 100%;

		div {
			display: table-cell;
			vertical-align: middle;
		}
}

@import '_media.scss'
