@charset 'UTF-8';
@import 'compass/css3';
@import 'compass/css3/border-radius';
@import 'compass/css3/inline-block';

html {
  height: 100%;
}

@import 'compass/reset';

* {
  margin: 0;
  padding: 0;
}

a,
img {
  border: 0;
  outline: none;
}

$alabaster: #f8f8f8;
$alto: #d2d2d2;
$black: #000;
$cerulean: #00a3d8;
$lima: #43c423;
$pomegranate: #e33;
$pizazz: #ff9000;
$white: #fff;

html,
body {
  background-color: $alabaster;
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

@import '_header.scss';
@import '_text.scss';

@mixin transition($parameters) {
  -webkit-transition: $parameters;
  -moz-transition: $parameters;
  -o-transition: $parameters;
  transition: $parameters;
}

a {
  color: $black;
  @include transition(all .3s);

}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  background-color: $pomegranate;
  color: $white;
  padding: .3em 0;
  text-decoration: none;

  @include transition(all .3s);
}

#help {
  position: fixed;
  width: 100%;
  z-index: 9999;

  #arrow {
    bottom: 20px;
    margin: auto 40%;
    position: fixed;
    width: 20%;

    img {
      color: $pomegranate;
      height: 55px;
    }

    p {
      color: $pomegranate;
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: .5em;
    }
  }
}

#logo {

  img {
    height: 2.625em;
    margin-top: 1em;
  }
}

#menu,
#menu_wrap {
  z-index: 1;
}

#menu {
  margin: 0 0 0 auto;
}

.relative {
  position: relative;
  width: 100%;
}

.menu-icon {
  padding: 5em 0 1em;
}

.list {
  list-style-type: none;

  li {
    line-height: 2em;

    .square {
      background: $white;
      @include border-radius(50%);
      @include inline-block();
      height: 10px;
      margin: 0 .5em;
      vertical-align: middle;
      width: 10px;
    }
  }
}

#bemutatkozas,
#tuzvedelem,
#munkavedelem,
#referenciak,
#kapcsolat {
  height: 100%;
  position: relative;
  width: 100%;
}

#bemutatkozas, {
  #one {
    left: 0;
    @include opacity(1);
    position: relative;
    width: 100%;

    #icon {
      padding: 1em 0 .5em;
    }
  }
}

#tuzvedelem,
#munkavedelem,
#referenciak {
  color: $white;
}

#tuzvedelem {
  background-color: $pomegranate;

  #extinguish {
    height: 70px;
  }

  .number img {
    height: 80px;
  }
}

#munkavedelem {
  background-color: $pizazz;
  color: $black;

  .square {
    background: $black;
  }

  #helmet {
    height: 70px;
  }

  #certificate,
  #screw {
    height: 80px;
  }
}

#referenciak {
  background-color: $cerulean;
}

#kapcsolat {
  background-color: $lima;

  #contact {
    height: 80px;
  }

  p {
    padding: 0;
  }
}

#one {
  background-color: $alabaster;
}

@import '_kapcsolat.scss';

footer {
  background-color: $alabaster;
  color: $black;
  display: table;
  font-size: 1em;
  height: 80px;
  text-align: center;
  width: 100%;

  div {
    display: table-cell;
    vertical-align: middle;
  }
}

@import '_media.scss';
