@import 'breakpoints';

#bemutatkozas {
		padding-top: 50px!important;
}

@media only screen and (min-width: $monitor) {
		.logo-text {
				left: 60px;
				position: fixed!important;
				top: 18px!important;
				z-index: 102;
		}

		.logo .logo-pic img {
				height: 42px!important;
				left: 15px;
				margin-top: 0!important;
				position: fixed!important;
				top: 12px!important;
				z-index: 102;
		}
}

@media only screen and (max-width: $monitor-) {
		.sandwich-x, 
		.logo-text {
				display: none!important;
		}

		.mobile-menu-wrap, 
		.mobile-menu-wrap-open {
				display: none!important;
		}

		.menu-wrap {
				display: block!important;
				position: fixed;
		}

		#main_nav .menu-wrap .menu {
				margin-right: 5%;
				width: 80%;
		}
}

@media only screen and (max-width: $big-tablet-) {
		.menu span {
				font-size: 14px;
		}

		#main_nav {
				text-transform: capitalize;
		}
}

@media only screen and (max-width: $big-tablet) {
		.menu span {
				font-size: 12px;
		}
}

@media only screen and (max-width: $mobile-) {
		html,
		#main_nav .menu-wrap .menu,
		.stripe {
				min-width: 400px;
		}

		.logo .logo-pic img {
				display: none;
		}

		.menu span {
				font-size: 11px;
		}
}

.navigation {
		position: fixed;
		width: 100%;
		z-index: 100;	
}

#main_nav {
		height: 4em;
}

.loader {
		display: none;
}

.wrap {
		visibility: visible;
}
	
.five-kapcs, 
.map {
		width: 100%;
}
	
#kapcsolat .map {	
		background: url('images/noscript_map.jpg') no-repeat center center;
		background-size: cover;
		height: 500px;
		margin-top: 0;
}
	
.map iframe, 
.help {
		display: none;
}
