html {
  height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

a,
img {
  border: 0;
  outline: none;
}

html,
body {
  background-color: #f8f8f8;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

#stripe {
  height: .3125em;
  width: 100%;
  z-index: 1000;
}
#stripe .stripe_all {
  float: left;
  height: inherit;
  width: 20%;
}
#stripe #stripe_1 {
  background-color: #d2d2d2;
}
#stripe #stripe_2 {
  background-color: #ee3333;
}
#stripe #stripe_3 {
  background-color: #ff9000;
}
#stripe #stripe_4 {
  background-color: #00a3d8;
}
#stripe #stripe_5 {
  background-color: #43c423;
}

nav {
  background-color: #f8f8f8;
  font-size: 1em;
  height: 12.875em;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 100;
}
nav #logo {
  background-color: #f8f8f8;
}
nav #logo #logo_pic {
  position: relative;
}
nav #logo #logo_text {
  font-weight: 600;
  height: 2em;
  padding-bottom: 1em;
  padding-top: .5em;
  position: relative;
}
nav #menu_wrap {
  background-color: white;
  font-weight: 300;
  width: 100%;
}
nav #menu_wrap #menu {
  display: table;
  margin: 0 auto;
  width: 800px;
}
nav #menu li {
  display: table-cell;
  margin-top: 1em;
  padding: 1em 0;
  z-index: 1001;
}
nav #menu #sandwich {
  display: none;
}

h1 {
  font-size: 2em;
  padding-bottom: 1.5em;
}

.title {
  color: black;
}

.upp {
  text-transform: uppercase;
}

.bold {
  font-weight: 600 !important;
}

.text {
  font-size: 1.7em;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 1000px;
  padding: 1em 0;
  text-align: center;
  width: 95%;
}

.regular {
  font-weight: 400;
}

a {
  color: black;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  background-color: #ee3333;
  color: white;
  padding: .3em 0;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#help {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#help #arrow {
  bottom: 20px;
  margin: auto 40%;
  position: fixed;
  width: 20%;
}
#help #arrow img {
  color: #ee3333;
  height: 30px;
}
#help #arrow p {
  color: #ee3333;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: .5em;
}
#help #help-nav-bg {
  height: 100%;
  position: fixed;
  right: 0;
}

#logo img {
  height: 2.625em;
  margin-top: 1em;
}

#menu,
#menu_wrap {
  z-index: 1;
}

#menu {
  margin: 0 0 0 auto;
}

.relative {
  position: relative;
  width: 100%;
}

.menu-icon {
  padding: 5em 0 1em;
}

.list {
  list-style-type: none;
}
.list li {
  line-height: 2em;
}
.list li .square {
  background: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 10px;
  margin: 0 .5em;
  vertical-align: middle;
  width: 10px;
}

#bemutatkozas,
#tuzvedelem,
#munkavedelem,
#referenciak,
#kapcsolat {
  height: 100%;
  position: relative;
  width: 100%;
}

#bemutatkozas #one {
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  position: relative;
  width: 100%;
}
#bemutatkozas #one #icon {
  padding: 1em 0 .5em;
}

#tuzvedelem,
#munkavedelem,
#referenciak {
  color: white;
}

#tuzvedelem {
  background-color: #ee3333;
}
#tuzvedelem #extinguish {
  height: 70px;
}
#tuzvedelem .number img {
  height: 80px;
}

#munkavedelem {
  background-color: #ff9000;
  color: black;
}
#munkavedelem .square {
  background: black;
}
#munkavedelem #helmet {
  height: 70px;
}
#munkavedelem #certificate,
#munkavedelem #screw {
  height: 80px;
}

#referenciak {
  background-color: #00a3d8;
}

.ref-img {
  margin-right: 1em;
}

#kapcsolat {
  background-color: #43c423;
}
#kapcsolat #contact {
  height: 80px;
}
#kapcsolat p {
  padding: 0;
}

#one {
  background-color: #f8f8f8;
}

#five-kapcs {
  background-color: #43c423;
  color: white;
  float: left;
  width: 66.66%;
}
#five-kapcs #profile_pic img {
  border: 7px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
#five-kapcs #profile_pic #left,
#five-kapcs #profile_pic #right {
  float: left;
  margin: 3em 0 5em;
  width: 50%;
}

.name {
  font-size: 1.5625em;
}

#map {
  background-color: #f8f8f8;
  float: right;
  height: 100%;
  width: 33.33%;
}
#map iframe {
  height: 100%;
  width: 100%;
}

footer {
  background-color: #f8f8f8;
  color: black;
  display: table;
  font-size: 1em;
  height: 80px;
  text-align: center;
  width: 100%;
}
footer div {
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (min-width: 120em) {
  #wrap {
    visibility: hidden;
  }

  #loader {
    left: 40%;
    margin: auto;
    position: fixed;
    top: 20%;
    width: 20%;
  }
  #loader p {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: .5em;
  }

  #help-nav-bg {
    right: 35px;
    top: 60px;
    width: 80px;
  }

  #help {
    height: 450px;
    position: fixed;
    right: 40px;
    top: 300px;
    width: 20px;
  }
  #help .help-circle {
    height: 30px;
    left: -16px;
    margin-bottom: 15px;
    position: relative;
    width: 26px;
  }
  #help .help-circle img {
    height: 40px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
  }
  #help #help-ext {
    margin-bottom: 25px;
  }
  #help #help-ext img {
    height: 45px;
    position: relative;
    right: -9px;
    width: 30px;
  }
  #help #help-helmet {
    height: 20px;
  }
  #help #help-helmet img {
    height: 24px;
    position: relative;
  }
  #help #help-nav .small-circle {
    background-color: #c2c2c2;
    height: 8px;
    left: -1px;
    margin-bottom: 9px;
    position: relative;
    width: 8px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .text {
    font-size: 2.2em !important;
    line-height: 1.8em;
    margin: .5em auto 2em;
    max-width: 1710px;
    padding: 0;
    width: 95%;
  }

  .title {
    font-size: 4em;
    margin-bottom: 4.5em;
    padding-bottom: 1em;
  }

  #first-p {
    margin-top: 2.9em;
  }

  #first-ref {
    margin: 13em auto 15em;
  }

  .menu-icon {
    margin: 3.5em auto;
    padding-bottom: 0;
  }

  #tuzvedelem #extinguish {
    height: 130px;
  }

  #munkavedelem #helmet {
    height: 130px;
  }

  #ref-icon {
    height: 130px;
  }

  #kapcsolat .text {
    margin: .5em auto 0;
  }
  #kapcsolat #profile_pic img {
    border: 13px solid white;
    height: 230px !important;
    margin-bottom: 1.6em;
    width: 230px !important;
  }
  #kapcsolat #left,
  #kapcsolat #right {
    margin-top: 3em;
  }
  #kapcsolat #left p:nth-child(3),
  #kapcsolat #right p:nth-child(3) {
    font-size: 1.9em;
    font-weight: 300;
  }
  #kapcsolat .name {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 100em) and (max-width: 119.99em) {
  #wrap {
    visibility: hidden;
  }

  #loader {
    left: 40%;
    margin: auto;
    position: fixed;
    top: 20%;
    width: 20%;
  }
  #loader p {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: .5em;
  }

  #help-nav-bg {
    right: 20px;
    top: 60px;
    width: 65px;
  }

  #help {
    height: 450px;
    position: fixed;
    right: 25px;
    top: 250px;
    width: 20px;
  }
  #help .help-circle {
    height: 30px;
    left: -16px;
    margin-bottom: 15px;
    position: relative;
    width: 26px;
  }
  #help .help-circle img {
    height: 40px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
  }
  #help #help-ext {
    margin-bottom: 25px;
  }
  #help #help-ext img {
    height: 45px;
    position: relative;
    right: -9px;
    width: 30px;
  }
  #help #help-helmet {
    height: 20px;
  }
  #help #help-helmet img {
    height: 24px;
    position: relative;
  }
  #help #help-nav .small-circle {
    background-color: #c2c2c2;
    height: 8px;
    left: -1px;
    margin-bottom: 9px;
    position: relative;
    width: 8px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .text {
    font-size: 2em !important;
    line-height: 1.7em;
    margin: .5em auto 2em;
    max-width: 1400px;
    padding: 0;
    width: 95%;
  }

  .title {
    font-size: 2.6em;
    margin-bottom: 1.3em;
    padding-bottom: 1em;
  }

  #first-p {
    margin-top: .5em;
  }

  #first-ref {
    margin: 1em auto 6.25em;
  }

  .menu-icon {
    margin: 2em auto;
    padding-bottom: 0;
  }

  #ref-icon {
    height: 75px;
  }

  #kapcsolat .text {
    margin: .5em auto 0;
  }
  #kapcsolat #profile_pic img {
    border: 10px solid white;
    height: 170px !important;
    margin-bottom: 1.4em;
    width: 170px !important;
  }
  #kapcsolat #left,
  #kapcsolat #right {
    margin-top: 3em;
  }
  #kapcsolat #left p:nth-child(3),
  #kapcsolat #right p:nth-child(3) {
    font-size: 1.7em;
    font-weight: 300;
  }
  #kapcsolat .name {
    font-size: 2.3em;
  }
}
@media only screen and (min-width: 89em) and (max-width: 99.99em) {
  #wrap {
    visibility: hidden;
  }

  #loader {
    left: 40%;
    margin: auto;
    position: fixed;
    top: 20%;
    width: 20%;
  }
  #loader p {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: .5em;
  }

  #help-nav-bg {
    right: 21px;
    top: 60px;
    width: 55px;
  }

  #help {
    height: 450px;
    position: fixed;
    right: 20px;
    top: 200px;
    width: 20px;
  }
  #help .help-circle {
    height: 30px;
    left: -12px;
    margin-bottom: 5px;
    position: relative;
    width: 26px;
  }
  #help .help-circle img {
    height: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
  }
  #help #help-ext {
    margin-bottom: 20px;
  }
  #help #help-ext img {
    height: 40px;
    position: relative;
    right: -4px;
    width: 25px;
  }
  #help #help-helmet {
    height: 25px;
  }
  #help #help-helmet img {
    height: 20px;
    position: relative;
  }
  #help #help-nav .small-circle {
    background-color: #c2c2c2;
    height: 7px;
    left: -1px;
    margin-bottom: 8px;
    position: relative;
    width: 7px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .text {
    font-size: 1.625em !important;
    line-height: 1.7em;
    margin: .5em auto 2em;
    max-width: 1200px;
    padding: 0;
    width: 95%;
  }

  .title {
    font-size: 2.5em;
    margin-bottom: 1.8em;
    padding-bottom: 1em;
  }

  #first-p {
    margin-top: 1.23em;
  }

  #first-ref {
    margin: 3.125em auto 6.25em;
  }

  .menu-icon {
    margin: 2em auto;
    padding-bottom: 0;
  }

  #ref-icon {
    height: 70px;
  }

  #kapcsolat .text {
    margin: .5em auto 0;
  }
  #kapcsolat #profile_pic img {
    border: 10px solid white;
    height: 170px !important;
    margin-bottom: 1.3em;
    width: 170px !important;
  }
  #kapcsolat #left,
  #kapcsolat #right {
    margin-top: 3em;
  }
  #kapcsolat #left p:nth-child(3),
  #kapcsolat #right p:nth-child(3) {
    font-size: 1.7em;
    font-weight: 300;
  }
  #kapcsolat .name {
    font-size: 2.2em;
  }
}
@media only screen and (min-width: 80em) and (max-width: 88.99em) {
  #wrap {
    visibility: hidden;
  }

  #loader {
    left: 40%;
    margin: auto;
    position: fixed;
    top: 20%;
    width: 20%;
  }
  #loader p {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: .5em;
  }

  #help-nav-bg {
    position: fixed;
    top: 70px;
    width: 50px;
  }

  #help {
    height: 450px;
    position: fixed;
    right: 13px;
    top: 100px;
    width: 20px;
  }
  #help .help-circle {
    height: 30px;
    left: -12px;
    margin-bottom: 5px;
    position: relative;
    width: 26px;
  }
  #help .help-circle img {
    height: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
  }
  #help #help-ext {
    margin-bottom: 20px;
  }
  #help #help-ext img {
    height: 40px;
    position: relative;
    right: -4px;
    width: 25px;
  }
  #help #help-helmet {
    height: 25px;
  }
  #help #help-helmet img {
    height: 20px;
    position: relative;
  }
  #help #help-nav .small-circle {
    background-color: #c2c2c2;
    height: 7px;
    left: -1px;
    margin-bottom: 8px;
    position: relative;
    width: 7px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  #stripe {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  #menu_wrap {
    position: fixed;
    top: 10px;
  }

  #logo #logo_pic img {
    height: 80px;
    position: relative;
    top: 80px;
  }
  #logo #logo_text {
    top: 80px;
  }

  .text {
    font-size: 1.7em !important;
    line-height: 1.65em;
    margin: 2.57em auto 0;
    max-width: 1100px;
    width: 95%;
  }

  .title {
    font-size: 2.3em;
    padding-bottom: 0;
  }

  #first-p {
    margin-top: -.2em;
  }

  #first-ref {
    margin: 2.1em auto 0;
  }

  #ref-icon {
    height: 60px;
  }

  #screw,
  #certificate {
    margin-top: -1em;
  }

  .menu-icon {
    margin: 1em auto .5em;
  }

  li {
    line-height: 1.8em !important;
  }

  #tuzvedelem #extinguish {
    height: 60px;
  }

  .number img {
    margin: 3em 0 -1.5em;
  }

  #munkavedelem #helmet {
    height: 60px;
  }

  #kapcsolat #five-kapcs div:nth-child(3) {
    margin-top: 3em;
  }
  #kapcsolat .text {
    line-height: 1.3em;
    margin: .5em auto 0;
  }
  #kapcsolat #profile_pic img {
    border: 8px solid white;
    height: 135px !important;
    margin-bottom: .8em;
    width: 135px !important;
  }
  #kapcsolat #left,
  #kapcsolat #right {
    margin: 2em 0 5em !important;
  }
  #kapcsolat #left p:nth-child(3),
  #kapcsolat #right p:nth-child(3) {
    font-size: 1.4em;
    font-weight: 300;
  }
  #kapcsolat #map {
    height: 900px;
  }
  #kapcsolat .name {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 64em) and (max-width: 79.99em) {
  #wrap {
    visibility: hidden;
  }

  #loader {
    left: 40%;
    margin: auto;
    position: fixed;
    top: 20%;
    width: 20%;
  }
  #loader p {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: .5em;
  }

  #help-nav-bg {
    right: 15px;
    top: 70px;
    width: 50px;
  }

  #help {
    height: 450px;
    position: fixed;
    right: 13px;
    top: 100px;
    width: 20px;
  }
  #help .help-circle {
    height: 30px;
    left: -12px;
    margin-bottom: 5px;
    position: relative;
    width: 26px;
  }
  #help .help-circle img {
    height: 25px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
  }
  #help #help-ext {
    margin-bottom: 15px;
  }
  #help #help-ext img {
    height: 35px;
    position: relative;
    right: -4px;
    width: 22px;
  }
  #help #help-helmet {
    height: 20px;
  }
  #help #help-helmet img {
    height: 17px;
    position: relative;
  }
  #help #help-nav .small-circle {
    background-color: #c2c2c2;
    height: 5px;
    left: -1px;
    margin-bottom: 8px;
    position: relative;
    width: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  #stripe {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  #menu_wrap {
    position: fixed;
    top: 10px;
  }
  #menu_wrap #menu {
    width: 700px !important;
  }

  #logo #logo_pic img {
    height: 80px;
    position: relative;
    top: 80px;
  }
  #logo #logo_text {
    top: 27px !important;
  }

  .text {
    font-size: 1.5em !important;
    line-height: 1.6em;
    margin: 1.5em auto 0;
    max-width: 900px;
    width: 95%;
  }

  .title {
    font-size: 2.1em;
    padding-bottom: 0;
  }

  #first-p {
    margin-top: 0;
  }

  #first-ref {
    margin: 2em auto 1.5em;
  }

  #ref-icon {
    height: 60px;
  }

  #screw,
  #certificate {
    margin-top: -1em;
  }

  .menu-icon {
    margin: 1em auto .5em;
  }

  li {
    line-height: 1.8em !important;
  }

  #tuzvedelem #extinguish {
    height: 60px;
  }

  .number img {
    margin: 3em 0 -1.5em;
  }

  #munkavedelem #helmet {
    height: 60px;
  }

  #kapcsolat #five-kapcs div:nth-child(3) {
    margin-top: 3em;
  }
  #kapcsolat .text {
    line-height: 1.3em;
    margin: .5em auto 0;
  }
  #kapcsolat #profile_pic img {
    border: 5px solid white;
    height: 110px !important;
    margin-bottom: 1.2em;
    width: 110px !important;
  }
  #kapcsolat #left,
  #kapcsolat #right {
    margin: 2em 0 5em !important;
  }
  #kapcsolat #left p:nth-child(3),
  #kapcsolat #right p:nth-child(3) {
    font-size: 1.3em;
    font-weight: 300;
  }
  #kapcsolat #map {
    height: 900px;
  }
  #kapcsolat .name {
    font-size: 1.6em;
    margin-bottom: .2em;
  }
}
@media only screen and (min-width: 48em) and (max-width: 63.99em) {
  #help,
  #loader {
    display: none;
  }

  #stripe {
    height: 10px;
    position: fixed;
    top: 0;
  }

  #menu_wrap {
    position: fixed;
    top: 10px;
  }
  #menu_wrap #menu {
    visibility: hidden;
  }

  #logo {
    padding-bottom: 10px;
  }

  #logo_pic img {
    height: 35px;
    left: 10px;
    position: fixed;
    top: 0;
    z-index: 5;
  }

  nav {
    height: 4.5em;
  }
  nav #logo #logo_text {
    left: 50px;
    position: fixed;
    top: 20px;
    z-index: 5;
  }

  #sandwich {
    display: block !important;
    position: fixed;
    right: 20px;
    top: -9px;
    visibility: visible;
  }
  #sandwich #menu-link:hover {
    background-color: white;
    margin: 0;
    padding: 0;
  }

  #icon img {
    height: 85px;
    margin: -1em auto 1em;
  }

  .text {
    font-size: 1.5em;
    line-height: 1.7em;
    padding: 0;
    text-align: left;
    width: 90% !important;
  }

  .title {
    font-size: 2.1em;
  }

  .circle {
    height: 55px !important;
  }

  #munkavedelem #certificate,
  #munkavedelem #helmet,
  #munkavedelem #screw {
    height: 80px;
  }
  #munkavedelem #certificate,
  #munkavedelem #screw {
    margin-bottom: 1em;
  }

  #tuzvedelem #extinguish {
    height: 80px;
  }

  #ref-icon {
    height: 80px;
  }

  #law {
    height: 60px !important;
    margin-top: .8em;
  }

  #law {
    margin: 1em 0 3em;
  }

  .list li .square:nth-child(even) {
    display: none;
  }

  #kapcsolat {
    height: initial;
    width: 100%;
  }
  #kapcsolat .text {
    line-height: .7em;
    text-align: center;
  }
  #kapcsolat #five-kapcs {
    text-align: center;
    width: 100%;
  }
  #kapcsolat #contact {
    height: 80px;
  }
  #kapcsolat #profile_pic img {
    border: 5px solid white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 110px;
    width: 110px;
  }
  #kapcsolat #profile_pic #left,
  #kapcsolat #profile_pic #right {
    margin: 1em 0;
    width: 100%;
  }
  #kapcsolat #left p:nth-child(3),
  #kapcsolat #right p:nth-child(3) {
    font-size: 1.1em;
  }

  .name {
    margin: .3em 0;
  }

  #map {
    background-color: #f8f8f8;
    height: 250px;
    width: 100%;
  }
  #map iframe {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 47.99em) {
  #help,
  #loader {
    display: none;
  }

  #stripe {
    height: 10px;
    position: fixed;
    top: 0;
  }

  #menu_wrap {
    position: fixed;
    top: 10px;
  }
  #menu_wrap #menu {
    visibility: hidden;
  }

  #logo {
    padding-bottom: 10px;
  }

  #logo_pic img {
    height: 35px;
    left: 10px;
    position: fixed;
    top: 0;
    z-index: 5;
  }

  nav {
    height: 4.5em;
  }
  nav #logo #logo_text {
    left: 50px;
    position: fixed;
    top: 20px;
    z-index: 5;
  }

  #sandwich {
    display: block !important;
    position: fixed;
    right: 20px;
    top: -9px;
    visibility: visible;
  }
  #sandwich #menu-link:hover {
    background-color: white;
    margin: 0;
    padding: 0;
  }

  #icon img {
    height: 85px;
    margin: -1em auto 1em;
  }

  .text {
    font-size: 1.4em;
    line-height: 1.65em;
    padding: 0;
    text-align: left;
    width: 95% !important;
  }

  .title {
    font-size: 2em;
  }

  .circle {
    height: 55px !important;
  }

  #munkavedelem #certificate,
  #munkavedelem #helmet,
  #munkavedelem #screw {
    height: 70px;
  }
  #munkavedelem #certificate,
  #munkavedelem #screw {
    margin-bottom: 1em;
  }

  #ref-icon {
    height: 70px;
  }

  #law {
    height: 50px !important;
    margin-top: .8em;
  }

  #law {
    margin: 1em 0 2em;
  }

  .list li .square:nth-child(even) {
    display: none;
  }

  #kapcsolat {
    height: initial;
    width: 100%;
  }
  #kapcsolat .text {
    line-height: .7em;
    text-align: center;
  }
  #kapcsolat #five-kapcs {
    text-align: center;
    width: 100%;
  }
  #kapcsolat #contact {
    height: 70px;
  }
  #kapcsolat #profile_pic img {
    border: 5px solid white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 90px;
    width: 90px;
  }
  #kapcsolat #profile_pic #left,
  #kapcsolat #profile_pic #right {
    margin: 1em 0;
    width: 100%;
  }
  #kapcsolat #left p:nth-child(3),
  #kapcsolat #right p:nth-child(3) {
    font-size: 1.1em;
  }

  .name {
    margin: .3em 0;
  }

  #map {
    background-color: #f8f8f8;
    height: 200px;
    width: 100%;
  }
  #map iframe {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 29.99em) {
  #help,
  #loader {
    display: none;
  }

  #stripe {
    height: 10px;
    position: fixed;
    top: 0;
  }

  #menu_wrap {
    position: fixed;
    top: 10px;
  }
  #menu_wrap #menu {
    visibility: hidden;
  }

  #logo {
    padding-bottom: 10px;
  }

  #logo_pic img {
    height: 35px;
    left: 10px;
    position: fixed;
    top: 0;
    z-index: 5;
  }

  nav {
    height: 4.5em;
  }
  nav #logo #logo_text {
    left: 50px;
    position: fixed;
    top: 20px;
    z-index: 5;
  }

  #sandwich {
    display: block !important;
    position: fixed;
    right: 20px;
    top: -9px;
    visibility: visible;
  }
  #sandwich #menu-link:hover {
    background-color: white;
    margin: 0;
    padding: 0;
  }

  #icon img {
    height: 70px;
    margin-top: -1em;
  }

  .text {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0;
    text-align: left;
    width: 95% !important;
  }

  .title {
    font-size: 1.5em;
  }

  #tuzvedelem #extinguish {
    height: 50px;
  }

  #munkavedelem #certificate,
  #munkavedelem #helmet,
  #munkavedelem #screw {
    height: 50px;
  }
  #munkavedelem #certificate,
  #munkavedelem #screw {
    margin-bottom: 1em;
  }

  #ref-icon {
    height: 50px;
  }

  .circle,
  #law {
    height: 50px !important;
    margin-top: .8em;
  }

  #law {
    margin: 1em 0 2em;
  }

  .list li .square:nth-child(even) {
    display: none;
  }

  #kapcsolat {
    height: initial;
    width: 100%;
  }
  #kapcsolat .text {
    line-height: .7em;
    text-align: center;
  }
  #kapcsolat #five-kapcs {
    text-align: center;
    width: 100%;
  }
  #kapcsolat #contact {
    height: 50px;
  }
  #kapcsolat #profile_pic img {
    border: 3px solid white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }
  #kapcsolat #profile_pic #left,
  #kapcsolat #profile_pic #right {
    margin: 1em 0;
    width: 100%;
  }

  .name {
    font-size: 1.2em;
    margin: .3em 0;
  }

  #map {
    background-color: #f8f8f8;
    height: 150px;
    width: 100%;
  }
  #map iframe {
    height: 100%;
    width: 100%;
  }
}
