* {
  margin: 0;
  padding: 0;
}

a,
img {
  border: none;
  outline: none;
}

/*#info {
		z-index: 9999;
		padding: 1.5em;
		background-color: rgba(0,0,0,.5);
		color: #fff;
		position: fixed;
		top: 1em;
		right: 1em;
}*/
html,
body {
  color: black;
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#stripe {
  height: .3125em;
  width: 100%;
  z-index: 1000;
}
#stripe .stripe_all {
  width: 20%;
  float: left;
  height: inherit;
}
#stripe #stripe_1 {
  background-color: #d2d2d2;
}
#stripe #stripe_2 {
  background-color: #ee3333;
}
#stripe #stripe_3 {
  background-color: #ff9000;
}
#stripe #stripe_4 {
  background-color: #00a3d8;
}
#stripe #stripe_5 {
  background-color: #43c423;
}

nav {
  background-color: #f8f8f8;
  font-size: 1em;
  height: 12.875em;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 100;
}
nav #logo {
  background-color: #f8f8f8;
}
nav #logo .logo_pic {
  position: relative;
}
nav #logo #logo_text {
  font-weight: 600;
  height: 2em;
  padding-bottom: 1em;
  padding-top: .5em;
}
nav #menu_wrap {
  background-color: white;
  font-weight: 300;
  width: 100%;
}
nav #menu_wrap #menu {
  display: table;
  margin: 0 auto;
  width: 800px;
}
nav #menu_wrap #menu li {
  display: table-cell;
  margin-top: 1em;
  padding: 1em 0;
}

nav.shrink {
  clear: both;
  background-color: white;
  height: 3.125em;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
nav.shrink #logo {
  width: 20%;
  height: 3.125em;
  float: left;
  background-color: white;
}
nav.shrink #logo #logo_pic {
  display: table-cell;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
nav.shrink #logo #logo_pic img {
  height: 2.75em;
  margin: .1875em 1em;
}
nav.shrink #logo #logo_text {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 1em;
}
nav.shrink #menu_wrap {
  width: 80%;
  float: right;
  height: 3.125em;
}
nav.shrink #menu_wrap li {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

h1 {
  font-size: 2em;
  padding-bottom: 1.5em;
}

.title {
  color: black;
}

.upp {
  text-transform: uppercase;
}

.bold {
  font-weight: 600 !important;
}

.text {
  font-size: 1.7em;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 1000px;
  padding: 1em 0;
  text-align: center;
  width: 95%;
}

.regular {
  font-weight: 400;
}

a {
  color: black;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  background-color: #ee3333;
  color: white;
  padding: .3em 0;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#menu_wrap, #menu {
  z-index: 101;
}

.relative {
  position: relative;
  width: 100%;
}

.menu-icon {
  padding: 5em 0 1em;
}

.list {
  list-style-type: none;
}
.list li {
  line-height: 2em;
}
.list li .square {
  background: white;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 .5em;
  vertical-align: middle;
  width: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

#slide-1,
#slide-2,
#slide-3,
#slide-4,
#slide-5 {
  height: 100%;
  position: relative;
  width: 100%;
}

#slide-1 #one {
  left: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}
#slide-1 #one #icon {
  padding: 1em 0 .5em;
}

#slide-2,
#slide-3,
#slide-4 {
  color: white;
}

#slide-2 {
  background-color: #ee3333;
}
#slide-2 #extinguish {
  height: 70px;
}
#slide-2 .number img {
  height: 80px;
}

#slide-3 {
  background-color: #ff9000;
}
#slide-3 #helmet {
  height: 70px;
}
#slide-3 #certificate,
#slide-3 #screw {
  height: 80px;
}

#slide-4 {
  background-color: #00a3d8;
}

#slide-5 {
  background-color: #43c423;
}
#slide-5 #contact {
  height: 80px;
}
#slide-5 p {
  padding: 0;
}

/*#wrap, 
#one, 
#two-tuz, 
#three-munka, 
#four-ref {
		height: 100%;
		width: 100%;
}
*/
#one {
  background-color: #f8f8f8;
}

#five-kapcs {
  background-color: #43c423;
  color: white;
  float: left;
  width: 66.66%;
}

.name {
  font-size: 1.5625em;
}

#map {
  background-color: #f8f8f8;
  float: right;
  height: 100%;
  width: 33.33%;
}
#map iframe {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #f8f8f8;
  color: black;
  display: table;
  font-size: 1em;
  height: 80px;
  text-align: center;
  width: 100%;
}
footer div {
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (min-width: 90.625em) {
  .text {
    font-size: 2em !important;
    line-height: 1.7em;
    margin: 1em auto 2em;
    max-width: 1200px;
  }

  .title {
    margin-bottom: 1em;
  }

  .menu-icon {
    margin: 2em auto;
  }
}
/* 1024px - 1449 */
@media only screen and (min-width: 64em) and (max-width: 90.615em) {
  #profile_pic {
    /*width: 100%;*/
  }
  #profile_pic img {
    height: 120px;
    width: 120px;
    border: 7px solid white;
    border-radius: 50%;
  }
  #profile_pic #left, #profile_pic #right {
    width: 50%;
    float: left;
    margin: 3em 0 5em 0;
  }
}
/* 768px - 1023px */
@media only screen and (min-width: 48em) and (max-width: 63.99em) {
  #five-kapcs {
    width: 100%;
    height: initial;
  }
  #five-kapcs #profile_pic {
    /*width: 100%;*/
  }
  #five-kapcs #profile_pic img {
    height: 120px;
    width: 120px;
    border: 7px solid white;
    border-radius: 50%;
  }
  #five-kapcs #profile_pic #left, #five-kapcs #profile_pic #right {
    width: 100%;
    margin: 2em 0;
  }

  #map {
    background-color: #f8f8f8;
    height: 300px;
    width: 100%;
  }
  #map iframe {
    width: 100%;
    height: 100%;
  }
}
/*  - 767px */
@media only screen and (max-width: 47.99em) {
  #main_nav {
    height: 4em;
  }
  #main_nav #logo div:first-child,
  #main_nav #logo div:nth-child(2),
  #main_nav #logo div:nth-child(4) {
    display: none;
  }
  #main_nav #logo div:nth-child(3) img {
    display: block !important;
    height: 42px;
    left: .5em;
    margin: auto;
    position: fixed;
    top: .5em;
    z-index: 11;
  }
  #main_nav #stripe, #main_nav #menu_wrap {
    position: fixed !important;
  }
  #main_nav #menu_wrap {
    background-color: white;
    z-index: 10;
  }
  #main_nav #menu_wrap #menu {
    visibility: hidden;
  }

  #slide-1 #one #icon {
    padding: 0 0 1.5em;
  }

  #slide-2 #two-tuz #law {
    display: none;
  }
  #slide-2 .number img {
    height: 50px;
  }

  #slide-3 {
    color: black;
  }
  #slide-3 #helmet {
    height: 60px;
  }
  #slide-3 #certificate,
  #slide-3 #screw {
    margin-bottom: 1.5em;
  }

  #slide-5 .text {
    margin-bottom: .5em;
  }

  .text {
    font-size: 1.15em;
    line-height: 1.6em;
    margin-bottom: 2em;
    padding: 0;
    width: 90%;
  }

  h1 {
    padding-bottom: 1em;
  }

  .list {
    list-style-position: inside;
    list-style-type: square;
  }
  .list li .square {
    display: none;
  }

  li.last {
    margin-bottom: -2em;
  }

  #five-kapcs {
    width: 100%;
  }
  #five-kapcs #profile_pic img {
    border: 5px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  #five-kapcs #profile_pic #left, #five-kapcs #profile_pic #right {
    width: 100%;
    margin: 2em 0;
  }

  #map {
    background-color: #f8f8f8;
    height: 200px;
    width: 100%;
  }
  #map iframe {
    width: 100%;
    height: 100%;
  }

  footer {
    height: 40px;
    font-size: 0.7em;
  }
}
/* - 479px 
@media only screen and (max-width: $mobile_) {
	p {
		font-size: 1em;
		line-height: 1.6em;
		.bold {
			font-weight: 600;
		}
		.bold:nth-child(3) {
			padding-left: 1em;
		}
	}

	p:first-child {
		padding: 90px 0 10px 0;
		font-size: 1.5em;
	}

	p.big-bold {
		font-size: 1.2em;
	}

	p.name {
		font-size: 1em;
	}

	#logo {
		padding-bottom: 10px;
	}


	#kapcsolat {
		width: 100%;
		height: initial;
		#profile_pic {
			img {
				height: 70px;
				width: 70px;
				border: 2px solid $white;
				border-radius: 50%;
			}
			#left, #right {
				width: 100%;
				margin: 1em 0;
			}
		}
	}

	#map {
		background-color: $alabaster;
		height: 150px;
		width: 100%;
			iframe {
				width: 100%;
				height: 100%;
			}
	}

	footer {
		height: 30px;
		font-size: 0.7em;
	}
} */
